<form action="/auth/register" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email"><br>

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password"><br>

    <button type="submit">Submit</button>
</form>